/* CSS file common to all pages*/
body{
    background-image: url("/images/stars5.jpg");
    margin: 0 100px;
    padding: 0;
    transition: all 0.5s ease;
}

/*variables*/
:root{
    --themecolor: linear-gradient(-30deg,rgb(218, 131, 219),rgb(105, 169, 200) 10%,rgb(226, 116, 215));
}

/*navigation bar*/

.nav-header{
    width: 100%;
}

.nav-title{
    text-align: center;
    background-image: var(--themecolor);
}

.nav-title img{
    height: 75px;
    margin-top: 5px;
}

.navbar {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
    margin: 25px 30px 25px 0;
    transition: all 0.5s ease;
}

/*hamburger icon*/

.line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px;
    transition: all 0.3s ease;
}

/*transition to change hamburger icon to x when clicked*/

.navbar.clicked .line:nth-child(1) {
    transform: rotate(-45deg) translate(-2px, 4px);
}

.navbar.clicked .line:nth-child(3) {
    opacity: 0;
}

.navbar.clicked .line:nth-child(2) {
    transform: rotate(45deg) translate(-2px, -4px);
}

.navlist{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*left is pages and right is social icons*/

.left,.right{
    display: flex;
    flex-direction: row;
    text-align: center;
    transition: all 0.5s ease;
}

.left a{
    text-decoration: none;
    margin: 5px;
    display: block;
    border-radius: 10px;
    padding: 14px 16px;
    color: wheat;
    font-size: large;
    font-family: 'Franklin Gothic Medium','Yu Gothic UI Semibold', 'Arial Narrow', Arial, sans-serif;
}

/*color effect when hovered*/
.left a:hover{
    background-image:linear-gradient(rgb(233, 84, 193),rgba(235, 24, 172, 0.762));
    color:gold;
    box-shadow: 2px 2px #000;
}


/*color to show which page you are in*/
.active{
    box-shadow: 2px 2px #000;
    background-image: var(--themecolor);
}

.icon{
    width: 50px;
    margin: 5px;
    background-clip: text;
    -webkit-background-clip: text; /* For Safari/Chrome */
    color: transparent;
    background-image: var(--themecolor);
}

.icon:hover{
    color:gold;
}

/*body of page*/

.torso {
    background-color: rgba(255, 255, 255);
    padding: 0.1px 40px 0 40px;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.heading1, .heading2{
    font-weight:bolder;
    font-size:xx-large;
    text-decoration: none;
    color: rgb(89, 89, 202);
}

.heading2{
    font-size: x-large;
}

/*footer css*/

.footer {
    margin: 0;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 98.5%;
    background-image: url("/images/background4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(17, 13, 13);
    font-weight: bold;
    transition: all 0.5s ease;
}


/*media query to navigation bar*/
@media (max-width: 1300px){
    .navbar{
        display: flex;
    }

    .navlist{
        justify-content: space-around;
    }

    .nav-links{
        max-height: 0;
        overflow: hidden;
        background-color: black;
        transition: max-height 0.3s ease;
    }

    .left,.right{
        flex-direction: column;
    }
    
    .icon{
        margin-top: 12.5px;
        margin-bottom: 12.5px;
    }

    .nav-links.open {
        max-height: 400px;
        transition: max-height 0.5s ease-in-out;
    }

    .footer{
        width: 98%;
    }
}

/*media query for larger body when screen is small*/

@media (max-width:1000px) {
    body{
        margin: 0;
    }
}

@media (max-width:800px) {

    .footer{
        width: 94vw;
    }

}